<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Dashboard</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/dashboard.css') }}">


</head>

<body>
  <div class="container">
    <form method="POST" id="param_collect">

      <!--grouping for database-->
      <div id="db_select" class="form-group">
        <span class="db_select_style">Select a database. eICU or MIMIC-III: </span>
        <span class="db_select_style">
          <select id="database">
            <option value="eiuc">eICU</option>
            <option value="mimic">MIMIC-3</option>
          </select>
        </span>
      </div>


      <h4>Choose all the required parameters to be collected</h4>
      <!--grouping for options - initial parameters-->

      <div class="form-group">


        <div id="opts-eicu">
          <label for="paramcollopt_eicu">Select all required options. (use Ctrl or drag-click to select multiple
            options)</label>
          <select multiple class="form-control" id="paramcollopt_eicu">
            <option value="vitals">vitals</option>

            <option value="labs">labs</option>
            <option value="nurseeve">nursing events</option>
            <!--<option value="charteve">chart events</option>
            <option value="bg">blood gases</option>
            <option value="patient">patient details</option>-->
            <option value="med">medication/drugs</option>

          </select>
        </div>

        <div id="opts-mimic">
          <label for="paramcollopt_mimic">Select all required options. (use Ctrl or drag-click to select multiple
            options)</label>
          <select multiple class="form-control" id="paramcollopt_mimic">
            <option value="vitals">vitals</option>
            <option value="bg">blood gases</option>
            <option value="labs">labs</option>
            <option value="nurseeve">nursing events</option>
            <option value="charteve">chart events</option>
            <option value="med">medication/drugs</option>
            <option value="patient">patient details</option>
          </select>

        </div>


      </div>




      <h4>Do you need any further customization to the data?</h4>
      <div class="form-group">
        <div class="row">

          <div class="col-sm-6">
            <input type="button" value="no" class="form-control" id="optnbtn">
          </div>

          <div class="col-sm-6">
            <input type="button" value="yes" class="form-control" id="optybtn">
          </div>

        </div>
      </div>

      <div class="form-group" id="feature-select-div">

      </div>

      <!--More options for customization-->
      <div class="form-group" id="more-options">
        <h4>List of available customization options:</h4>
        <table class="table table-dark">
          <thead>
            <th>Click to apply</th>
            <th>Option</th>
            <th>Description</th>
          </thead>
          <tbody>
            <tr>
              <td><input type="checkbox" value="1"></td>
              <td>ICD9 Codes</td>
              <td>Extract relevant ICD9 Codes from the data</td>
            </tr>


            <tr>
              <td><input type="checkbox" value="2"></td>
              <td>Age</td>
              <td>Filter based on age of patients</td>
            </tr>

            <tr></tr>
          </tbody>
        </table>
      </div>


      <button id="submit-btn" type="submit" class="btn btn-primary">Submit preferences</button>

    </form>
  </div>

  <script id="helper" type="text/javascript" src="{{ url_for('static', filename='js/dashunlock.js') }}"></script>
  <script>

    var cols = {{cols|tojson}};

    document.getElementById("paramcollopt_eicu").onchange = function (e) {

      var display = document.getElementById("feature-select-div");
      display.innerHTML = "";

      options = getSelectedOptions(this);

      for (var i = 0; i < options.length; i++) {

        for (x in cols) {

          if (x == options[i].value) {
            display.innerHTML += '<h4> Choose features from ' + options[i].text + ' table </h4>';

            var sel = document.createElement('select');
            sel.multiple = true;
            sel.style['height'] = "250px";
            sel.style['width'] = "100%";

            createSelect(Array.from(cols[x]), sel);

            display.appendChild(sel);
            display.innerHTML += "<br/>";

          }

        }

      }

    }


  </script>

</body>

</html>
