#more-options{
    display:none;
}

#submit-btn{
    display: none;
    text-align: center;
    width: 50%;
}

#opts-mimic{
    height: 150px;
    display: none;
}

#opts-eicu{
    height: 150px;
    display: block;
}

#feature-select-div{
    display: none;
}

.db_select_style{
  padding-top: 10%;

}
